<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="D:\Logs\internal-tsl-taaa-web-api-nlog.txt">

	<!-- Variables of path -->
	<variable name="LogBaseLocation" value="D:\Logs\"/>
	<variable name="LogFileLocation" value="${LogBaseLocation}\TSL.TAAA.API\"/>
	<variable name="DBCommandTimeout" value="120"/>

	<!-- Load the ASP.NET Core plugin -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- Web API log-->
		<target name="WebAPILog" xsi:type="Database">
			<commandProperty name="CommandTimeout" layout="${DBCommandTimeout}" propertyType="System.Int32" />
			<commandText>
				INSERT INTO WebAPILog (TimeStamp, TraceId, LocalIPAddress, RemoteIPAddress, SystemName, VendorCode, VenderName, Certificate, Level, MachineName, RequestUrl, Referer, LoginName, Logger, Type, Message)
				VALUES (@TimeStamp, @TraceId, @LocalIPAddress, @RemoteIPAddress, @SystemName, @VendorCode, @VenderName, @Certificate, @Level, @MachineName, @RequestUrl, @Referer, @LoginName, @Logger, @Type, @Message);
			</commandText>
			<parameter name="@TimeStamp" layout="${longdate}"/>
			<parameter name="@TraceId" layout="${event-properties:item=TraceId}"/>
			<parameter name="@LocalIPAddress" layout="${event-properties:item=LocalIPAddress}"/>
			<parameter name="@RemoteIPAddress" layout="${event-properties:item=RemoteIPAddress}"/>
			<parameter name="@SystemName" layout="${event-properties:item=SystemName}"/>
			<parameter name="@VendorCode" layout="${event-properties:item=VendorCode}"/>
			<parameter name="@VenderName" layout="${event-properties:item=VenderName}"/>
			<parameter name="@Certificate" layout="${event-properties:item=Certificate}"/>
			<parameter name="@Level" layout="${uppercase:${level}}"/>
			<parameter name="@MachineName" layout="${machinename}"/>
			<parameter name="@RequestUrl" layout="${event-properties:item=RequestUrl}"/>
			<parameter name="@Referer" layout="${aspnet-request-referrer}"/>
			<parameter name="@LoginName" layout="${aspnet-user-identity}"/>
			<parameter name="@Logger" layout="${logger}"/>
			<parameter name="@Type" layout="${event-properties:item=Type}"/>
			<parameter name="@Message" layout="${message}"/>
		</target>

		<!-- main log-->
		<target name="mainLog" xsi:type="File" fileName="${LogFileLocation}\tsl-taaa-api-main-${shortdate}.log"
        layout="${longdate} | ${pad:padding=5:inner=${level:uppercase=true}} | ${machinename} | ${logger} | ${message}"
        createDirs="true"/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="WebAPILog" minlevel="Trace" writeTo="WebAPILog" />
		<logger name="mainLog" minlevel="Trace" writeTo="mainLog" />
	</rules>
</nlog>
